// @import "./../variables/variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-family;
  color: $main-font-color;
  // font-size: 62.5%;
}

.white {
  color: #FFFFFF;
}

.line {
  width: 85vw;
  max-width: 1400px;
  margin: auto;
  border-style: none;
  border-top-width: 3px;
  border-top-style: solid;
  padding-bottom: 1rem;
}

.line-dark {
  border-color: #474747;
}

.line-white {
  border-color: #FFFFFF;
}
