@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #474747;
}

.main-header {
  width: fit-content;
  margin: auto;
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
  font-size: 28px;
  font-weight: 400;
}

.white {
  color: #FFFFFF;
}

.line {
  width: 85vw;
  max-width: 1400px;
  margin: auto;
  border-style: none;
  border-top-width: 3px;
  border-top-style: solid;
  padding-bottom: 1rem;
}

.line-dark {
  border-color: #474747;
}

.line-white {
  border-color: #FFFFFF;
}

.articles {
  width: 80vw;
  max-width: 1250px;
  margin: auto;
  padding: 4.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.short-article {
  display: flex;
  height: 300px;
}

.full-article {
  display: flex;
  
}

.article-img {
  width: 345.8px;
  height: 300px;
  position: relative;
}

.read-more-button {
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 0.8rem;
  font-size: 14px;
  font-weight: 400;
  transition: background .8s;
}

.read-more-button:hover {
  background: rgba(255, 255, 255, 0.699);
}


.article-content {
  position: relative;
  padding-left: 5.5rem;
}

.article-header {
  font-size: 24px;
  font-weight: 400;
  height: 4rem;
  padding-bottom: 1rem;
}

.article-description {
  font-size: 18px;
  font-weight: 400;
}

.info {
  position: absolute;
  bottom: 4rem;
  display: flex;
  gap: 3rem;
  font-size: 14px;
  font-weight: 300;
  padding-top: 1.5rem;
}

.tags {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 3rem;
  font-size: 18px;
  font-weight: 400;
}

.tags>p {
  color: #399FD6;
  text-decoration: none;
}

.about-us {
  background-image: url("./../images/AboutUsBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}